<h1>Editing keyword_mapping</h1>

<%= render "form", keyword_mapping: @keyword_mapping %>

<br>

<div>
  <%= link_to "Show this keyword_mapping", admin_keyword_mapping_path(@keyword_mapping) %> |
  <%= link_to "Back to keyword_mappings", admin_keyword_mappings_path %>
</div>
